.option {
    display: flex;
    flex-direction: column;

    &__title {
        font-size: 14px;
        color: #5E5873;
        font-weight: 600;
        margin-bottom: 2px;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2px;
        align-items: flex-end;
        gap: 6px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 6px;

        &-input {
            outline: none;
            flex: 1;
            border: 1px solid #5E5873;
            border-radius: 6px;
            margin-bottom: 2px;
            padding: 0 6px;
            margin-right: 6px;
            height: 24px;
        }

        &-btn {
            height: 24px;
            width: 30px;
            display: grid;
            place-items: center;
            font-weight: 600;
            color: #FFFFFF;
            background: #DC143C;
            border-radius: 6px;
            cursor: pointer;
            font-size: 12px;
            transition: 0.2s ease background-color;
            margin-bottom: 2px;

            &:hover {
                background-color: #be1234;
            }
        
        }
    }

    &__add {
        display: flex;
        justify-content: flex-end;
        
        &-btn {
            cursor: pointer;
            background-color: #1D7775;
            color: #FFFFFF;
            padding: 6px;
            border-radius: 6px;
            text-align: center;
            font-weight: 600;
            font-size: 14px;
            width: 50%;
            transition: 0.2s ease background-color;
        
            &:hover {
                background-color: #186462;
            }

            &:active {
                background-color: #13514f;
                transition: 0s ease background-color;
            }
        }
    }
}