.parser {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;

    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: max-content;

        &-header {
            font-weight: 600;
            margin-right: 4px;
        }

        &-value {
            font-weight: 400;
        }
    }
}