.navbar {
    width: 240px;
    padding: 8px;
    box-shadow: -2px 1px 15px rgb(0 0 0 / 15%);

    &__content {
        width: 100%;
        padding: 14px 0;
        overflow-y: auto;

        &::-webkit-scrollbar {
            width: 10px;
            height: 10px;
            background-color: #dcdcdc;
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
        }
    
        &::-webkit-scrollbar-thumb {
            background-color: #1D7775;
            border-radius: 8px;
        }
    }
}