.input {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;

    &__half {
        width: 120px;
    }

    &__full {
        width: 240px;
    }

    &__flex {
        width: 100%;
    }

    &__container {
        position: relative;
    }

    &__title {
        color: #5e5873;
        font-size: 12px;
        margin-bottom: 2px;
    }

    &__data {
        outline: none;
        border: 1px solid #d8d6de;
        border-radius: 6px;
        height: 40px;
        padding: 0 6px;
        transition: 0.2s ease all;
        font-size: 14px;
        width: 100%;

        &::placeholder {
            font-size: 14px;
        }

        &:hover {
            padding: 0 12px;
        }

        &:focus {
            border-color: #645acf;
            padding: 0 12px; 
        }

        &-error {
            border-color: red;

            &:focus {
                border-color: red;
            }
        }
    }

    &__error {
        color: red;
        font-size: 12px;
        font-style: italic;

        &-icon {
            position: absolute;
            right: 28px;
            top: 10px;
            color: red;
            font-weight: 600;
            border: 2px solid red;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            display: grid;
            place-items: center;
            font-size: 12px;
            cursor: pointer;
        }
    }
}