.navbarvalidation {
    height: 60px;
    display: grid;
    place-items: center;
    border-radius: 6px;
    border: 6px solid #1D7775;
    cursor: pointer;
    width: 100%;
    
    &__text {
        font-weight: 600;
        color: #1D7775;
        font-size: 14px;
        text-align: center;
    }
}