.formitem {
  width: 100%;
  background-color: red;
  background: #ffffff;
  border-top: 1px solid #d9d9d9;
  display: flex;
  align-items: center;
  cursor: pointer;
  grid-column: auto / span 2;
  transition: 0.3s ease all;
  position: relative;
  flex-direction: column;

  &__container {
    width: 100%;
    display: flex;
    min-height: 66px;
    align-items: center;
  }

  &__errors {
    width: 100%;
    padding: 0 32px;
    margin-bottom: 2px;

    &-item {
      color: #dc143c;
      font-weight: 500;
      margin-left: 8px;
      position: relative;

      &::before {
        position: absolute;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: #dc143c;
      }
    }
  }

  &:nth-child(2n + 1) {
    background-color: #efefef;
  }

  &__selected {
    background: rgba(29, 119, 117, 0.2) !important;
    border: 1px solid #1d7775;
    border-radius: 6px;
    position: relative;

    &::after {
      content: ">";
      font-size: 24px;
      font-weight: 800;
      color: #1d7775;
      position: absolute;
      right: 0px;
      transform: scaleY(2.2) scaleX(0.6);
    }
  }

  &__over {
    margin-bottom: 80px;
    position: relative;

    &::before {
      content: "+";
      position: absolute;
      bottom: -58px;
      left: 42%;
      font-weight: 800;
      font-size: 24px;
      border-radius: 50%;
      background: #1d7775;
      color: #ffffff;
      width: 32px;
      height: 32px;
      display: grid;
      place-items: center;
    }

    &::after {
      content: "Add Here";
      position: absolute;
      bottom: -51px;
      left: 49%;
      font-size: 16px;
      color: #1d7775;
      font-weight: 600;
    }
  }

  &__draggable {
    flex: 1;
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
    padding-left: 16px;
  }

  &__layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__id {
    color: #1d7775;
    font-size: 16px;
    font-weight: 600;
    width: 32px;
  }

  &__input {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-item {
      flex: 1;
      height: 100%;
      padding: 4px 0;
      width: 50%;

      &-half {
        flex: initial;
      }
    }

    &-size {
      font-size: 14px;
      font-weight: 600;
      color: #1d7775;
      width: 120px;
      display: grid;
      place-items: center;
      grid-gap: 8px;

      &-item {
        text-decoration: underline;

        &:last-child {
          color: #dc143c;
          text-decoration: none;
        }
      }
    }
  }

  &__navbar {
    display: flex;
    align-items: center;
    height: 100%;
    border-left: 1px solid #d9d9d9;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    padding: 0 16px;

    &-item {
      font-size: 14px;
      font-weight: 600;
      color: #1d7775;
      cursor: pointer;
      transition: 0.3s ease color, background-color;
      padding: 2px 4px;
      border-radius: 6px;

      &:first-child {
        margin-right: 12px;
      }

      &:hover {
        background-color: #1d7775;
        color: #ffffff;
      }

      &:active {
        transition: 0s ease background-color;
        background-color: #13514f;
      }

      &:last-child {
        color: #dc143c;

        &:hover {
          background-color: #dc143c;
          color: #ffffff;
        }

        &:active {
          transition: 0s ease background-color;
          background-color: #be1234;
        }
      }
    }
  }
}

@media only screen and (max-width: 664px) {
  .formitem {
    &__navbar {
      position: absolute;
      right: 0;
      background: #fff;
      transition: 0.3s ease transform;
      transform: translateX(88%);

      &:hover {
        transform: translateX(0);

        &::before {
          display: none;
        }
      }

      &::before {
        content: "<";
        color: #000;
        position: absolute;
        left: 2px;
        font-weight: 800;
        font-size: 16px;
        transform: scaleY(1.5);
      }
    }

    &__input {
      padding-right: 20px;

      &-size {
        display: none;
      }
    }
  }
}
