.formitem {
    width: 100%;
    min-height: 66px;
    background-color: red;
    background: #FFFFFF;
    border-top: 1px solid #D9D9D9;
    display: flex;
    align-items: center;
    cursor: pointer;
    grid-column: auto / span 2;
    transition: 0.3s ease all;

    &:nth-child(2n+1) {
        background-color: #efefef;
    }

    &__selected {
        background: rgba(29, 119, 117,0.2) !important;
        border: 1px solid #1D7775;
        border-radius: 6px;
        position: relative;

        &::after {
            content: ">";
            font-size: 24px;
            font-weight: 800;
            color: #1D7775;
            position: absolute;
            right: 0px;
            transform: scaleY(2.2) scaleX(0.6);
        }
    }

    &__over {
      margin-bottom: 80px;
      position: relative;

      &::before {
        content: "+";
        position: absolute;
        bottom: -58px;
        left: 42%;
        font-weight: 800;
        font-size: 24px;
        border-radius: 50%;
        background: #1D7775;
        color: #FFFFFF;
        width: 32px;
        height: 32px;
        display: grid;
        place-items: center;
      }

      &::after {
        content: "Add Here";
        position: absolute;
        bottom: -51px;
        left: 49%;
        font-size: 16px;
        color: #1D7775;
        font-weight: 600;
      }
    }

    &__draggable {
        flex: 1;
        display: flex;
        align-items: center;
        height: 100%;
        position: relative;
        padding-left: 16px;
    }

    &__layer {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &__id {
        color: #1D7775;
        font-size: 16px;
        font-weight: 600;
        width: 32px;
    }

    &__input {
        flex: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-item {
            flex: 1;
            height: 100%;
        }

        &-size {
            font-size: 14px;
            font-weight: 600;
            color: #1D7775;
            text-decoration: underline;
            width: 120px;
        }
    }

    &__navbar {
        display: flex;
        align-items: center;
        height: 100%;
        border-left: 1px solid #D9D9D9;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        padding: 0 16px;

        &-item {
            font-size: 14px;
            font-weight: 600;
            color: #1D7775;
            cursor: pointer;
            transition: 0.3s ease color, background-color;
            padding: 2px 4px;
            border-radius: 6px;

            &:first-child {
                margin-right: 12px;
            }

            &:hover {
                background-color: #1D7775;
                color: #FFFFFF;
            }

            &:active {
                transition: 0s ease color;
                background-color: #13514f;
            }
        }
    }
}