.input {
    display: flex;
    flex-direction: column;
    flex: 1;
    grid-column: auto / span 2;

    &__header {
        font-size: 14px;
        color: #5E5873;
        font-weight: 600;
        margin-bottom: 2px;
    }

    &__input {
        outline: none;
        height: 24px;
        border-radius: 6px;
        border: 1px solid #5E5873;
        margin-bottom: 2px;
        padding: 0 6px;
        font-size: 14px;
        color: #5E5873;

        &::placeholder {
            color: #5E5873;
            font-size: 14px;
        }
    }

    &__validation {
        font-weight: 600;
        font-size: 14px;
        color: red;
    }

    &__half {
        grid-column: auto / span 1
    }

}