.main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    &__btn-disable {
        background-color: rgba(29, 119, 117, 0.6) !important;
        pointer-events: none;
        display: none !important;
    }

    &__header {
        display: flex;
        align-items: center;
        padding: 0 30px;
        background: #FFFFFF;
        border: 1px solid #E1E1E1;
        box-shadow: 0px 1px 15px rgb(0 0 0 / 15%);
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        height: 70px;
        justify-content: space-between;

        &-navbar {

            &-btn {
                padding: 0 6px;
                box-sizing: content-box;
            }
        }

        &-describe {
            max-width: max-content;
            overflow: hidden;

            &-title {
                font-size: 18px;
                color: #1D7775;
            }
    
            &-description {
                font-size: 14px;
                color: #5E5873;
            }
        }

    }

    &__content {
        height: 90%;
        padding: 12px;
        display: flex;
        flex-direction: column;    

        &-title {
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 0.8px;
            font-style: italic;
            color: #5E5873;
            margin-bottom: 12px;
        }

        &-items {
            width: 100%;
            display: flex;
            overflow-y: auto;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 16px;
            scroll-behavior: smooth;
            padding: 10px 0;

            &::-webkit-scrollbar {
                width: 10px;
                height: 10px;
                background-color: #dcdcdc;
                border-top-right-radius: 8px;
                border-bottom-right-radius: 8px;
            }
        
            &::-webkit-scrollbar-thumb {
                background-color: #1D7775;
                border-radius: 8px;
            }
        }
    }
}

.item {
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    padding-left: 8px;
    cursor: pointer;
    transition: 0.2s ease border, box-shadow;
    width: 280px;
    height: 60px;
    border: 1px solid #E1E1E1;
    box-shadow: 0px 1px 15px rgb(0 0 0 / 15%);
    background: #FFFFFF;

    &:hover {
        border: 1px solid #1D7775;
        box-shadow: 0px 1px 10px #1d7775;
    }

    &__noitem {
        justify-content: center;
        align-items: center;
        font-weight: 600;
        width: 560px;
    }

    &__describe {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1;
        max-width: 75%;
        overflow: hidden;
        padding: 8px 0;

        &-title {
            color: #1D7775;
            font-weight: 600;
        }

        &-description {
            color: #5E5873;
            font-size: 12px;
        }
    }

    &__navbar {
        border-left: 1px solid #D9D9D9;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        min-width: 60px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 8px 6px;

        &-item {
            font-size: 13px;
            font-weight: 600;
            color: #1D7775;
            cursor: pointer;
            transition: 0.3s ease color, background-color;
            padding: 2px 4px;
            border-radius: 6px;
            text-align: center;

            &:hover {
                background-color: #1D7775;
                color: #FFFFFF;
            }

            &:active {
                transition: 0s ease background-color;
                background-color: #13514f;
            }

            &:last-child {
                color: #DC143C;

                &:hover {
                    background-color: #DC143C;
                    color: #FFFFFF;
                }

                &:active {
                    transition: 0s ease background-color;
                    background-color: #be1234;
                }
            }

            &-blur {
                pointer-events: none;
                color: rgba(220, 20, 60,0.4) !important;
            }
        }
    }

    &__add {
        background: #1D7775;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 0;
        color: #FFFFFF;
        font-weight: 600;

        span {
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 8px;
            width: 28px;
            height: 28px;
            border: 2px solid #FFFFFF;
            color: #FFFFFF;
            font-size: 25px;
            padding-bottom: 1px;
        }
    }
}

@media only screen and (max-width: 550px) {
    .main {
        position: relative;

        &__header {
            flex-direction: column;
            justify-content: center;
            padding: 4px 0;

            &-describe {
                text-align: center;
            }

            &-navbar {
                position: absolute;
                bottom: 8px;
                z-index: 9;
            }
        }
    }
}