.formbuilder {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;

    &__header {
        height: 12%;
    }

    &__content {
        height: 88%;
        flex: 1;
        display: flex;

        &-area {
            flex: 1;
            overflow-y: auto;
            padding-bottom: 50px;
        }

        &-navbar {
            width: 240px;
            display: flex;
            flex-direction: column;
            padding: 8px 0 0 0;
            box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
        }
    }
}

.navbar {

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10px;

        &-item {
            height: 26px;
            width: 80px;
            display: grid;
            place-items: center;
            color: #5E5873;
            cursor: pointer;
            border-radius: 6px;
            transition: 0.2s ease color;

            &:hover {
                color: #7367f0;
            }

            &-selected {
                background-color: #7367f0;
                color: #FFFFFF;
                font-weight: 600;

                &:hover {
                    color: #FFFFFF;
                }
            }
        }
    }

    &__content {
        padding: 10px 10px 0 10px;
        overflow-y: auto;

        &-item {

            &-not {
                text-align: center;
                color: #5E5873;
                font-weight: 600;
                padding: 12px 0;
                border: 1px solid #5E5873;
                border-radius: 6px;
            }
            
        }

        &-btn {
            width: 100%;
            height: 34px;
            color: #FFFFFF;
            display: grid;
            place-items: center;
            cursor: pointer;
            background: #858389;
            border-radius: 6px;
            transition: 0.2s ease background-color;
            margin-bottom: 8px;

            &:hover {
                background-color: #7367f0;
            }
        }
    }
}

.area {
    &__item {
        display: grid;
        grid-template-columns: 50px 1fr 140px;
        border-bottom: 1px dashed #5E5873;
        padding: 2px 0;
        min-height: 40px;
        cursor: pointer;
        position: relative;
        transition: 0.3s ease margin-bottom;

        &-layer {
            width: 100%;
            height: 101%;
            position: absolute;
            z-index: 99;
        }

        &:last-child {
            border-bottom: 1px dashed transparent;
        }

        &-index {
            display: grid;
            place-items: center;
            color: #5E5873;
        }

        &-input {
            display: flex;
            align-items: center;
        }

        &-btns {
            display: flex;
            justify-content: center;
            align-items: center;

            &-item {
                color: #5E5873;
                font-size: 14px;
                text-decoration: underline;
                transition: 0.2s ease color;
                margin-right: 8px;
                
                &:hover {
                    color: #7367f0;
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}

.drag {

    &__over {
        border-bottom: 1px dashed red;
        margin-bottom: 50px;
        position: relative;

        &::after {
            top: 150%;
            left: 45%;
            position: absolute;
            content: '> Here';
            font-weight: 600;
            font-size: 14px;
            color: #5E5873;
        }
    }
}

@media only screen and (max-width: 968px) {
    .navbar {
        position: absolute;
        right: 0;
        background: #FFF;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        height: 88%;
        transform: translateX(100%);
        transition: 0.3s ease transform;

        &:hover::before {
            background-color: #186462;
            transform: rotate(180deg);
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
        }

        &:hover {
            transform: translateX(0);
        }

        &::before {
            content: "<";
            position: absolute;
            width: 16px;
            height: 48px;
            background-color: #1D7775;
            left: -16px;
            display: grid;
            place-items: center;
            cursor: pointer;
            transition: 0.3s ease background-color transform border;
            top: calc(50% - 48px);
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
            font-weight: 600;
            font-size: 18px;
            color: #FFF;
        }
    }
}

@media only screen and (max-width: 480px) {
    .formbuilder {

        &__header {
            height: 14%;
        }

        &__content {
            height: 86%;
        }
    }
}